.weather-wrapper {
    padding: 20px 0;
    min-height: 100%;
    background: $primaryColor;
    transition: background 0.2s ease;

    &.day {
        background: $dayColor;
    }

    &.night {
        background: $nightColor;
    }
}


.weather-meta {
    color: #fff;

    a {
        color:#fff;

        &.active {
            font-weight: bold;
        }
    }
}

.city {
    display: block;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    border: none;
}

.city:focus {
    outline: none;
    border: 0;
}

.weather-info {
    color: #fff;
}

.weather-today {
    margin: 40px 0 0;
}

.weather-icon {
    display: block;
    float: right;
    width: 250px;
}

.now {
    color: #fff;
    font-size: 200px;
}

.weather-forecast > div {
    padding: 20px;
    background: #00a185;
    color: #fff;
    text-align: center;

    .day & {
        background: #f59d00;

        &:nth-child(even) {
            background: darken(#f59d00, 1%);
        }
    }

    .night & {
        background: #2b3e51;

        &:nth-child(even) {
            background: darken(#2b3e51, 1%);
        }
    }
}

.weather-forecast em {
    font-size: 30px;
}
