*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: $primaryColor;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
