section( class="weather-wrapper {{ weatherData.period }}" )
    .weather-bg( ng-class="{'is-ready': photoData.loaded}" ng-if="photoData.url" ng-style="{'background-image': 'url({{ photoData.url }})'}")
    .weather.container
        .weather-meta.row
            .col-xs-6.text-left
                p(ng-if="weatherData.loaded") {{ weatherData.address }}
            .col-xs-6.text-right
                a(href="javascript:void(0)" ng-click="config.units = 'uk'" ng-class="{active: config.units=='uk'}") C
                |  |
                a(href="javascript:void(0)" ng-click="config.units = 'us'" ng-class="{active: config.units=='us'}")  F

        form( ng-submit="fetchData()" )
            input.city( type="text" placeholder="Which city are you in?" ng-model="city" required autofocus )

        .weather-info( ng-if="weatherData.loaded" )
            .weather-today.row
                .col-md-4
                    p.now
                        | {{ weatherData.current.temperature | number:0 }}
                        span.deg °
                .col-md-4
                    br
                    br
                    br
                    p
                        span
                            strong H
                            |  {{ weatherData.today.temperatureMax | number:0 }}
                        span
                            strong  L
                            |  {{ weatherData.today.temperatureMin | number:0 }}
                    p Humidity: {{ weatherData.today.humidity }}%
                    p Wind: {{ weatherData.today.windSpeed }} m/s
                .col-md-4
                    canvas.weather-icon(skycon icon="weatherData.today.icon" width="250" height="250")

            .weather-forecast.row
                .col-md-2(ng-repeat="forecast in weatherData.forecasts" ng-show="weatherData.forecasts")
                    p {{ (forecast.time * 1000) | date:"EEEE" }}
                    p
                        canvas(skycon icon="forecast.icon" width="32" height="32")
                    span
                        strong H
                        |  {{ forecast.temperatureMax | number:0 }}
                    span
                        strong  L
                        |  {{ forecast.temperatureMin | number:0 }}
