section( class="weather-wrapper {{ weatherData.period }}" )
    .weather-bg( ng-class="{'is-ready': photoData.loaded}" ng-if="photoData.url" ng-style="{'background-image': 'url({{ photoData.url }})'}")
    .weather.container
        .weather-meta.row(ng-if="weatherData.loaded")
            .col-md-6.text-left
                | {{ weatherData.today.name}}, {{ weatherData.today.sys.country }}
            .col-md-6.text-right
                a(href="javascript:void(0)" ng-click="config.units = 'metric'" ng-class="{active: config.units=='metric'}") C
                |  |
                a(href="javascript:void(0)" ng-click="config.units = 'imperial'" ng-class="{active: config.units=='imperial'}")  F

        form( ng-submit="fetchData()" )
            input.city( type="text" placeholder="Which city are you in?" ng-model="city" required autofocus )

        .weather-info( ng-if="weatherData.loaded" )
            .weather-today.row
                .col-md-4
                    p.now
                        | {{ weatherData.today.main.temp | number:0 }}
                        span.deg °
                .col-md-4
                    br
                    br
                    br
                    p
                        span
                            strong H
                            |  {{ weatherData.today.main.temp_max | number:0 }}
                        span
                            strong  L
                            |  {{ weatherData.today.main.temp_min | number:0 }}
                    p Humidity: {{ weatherData.today.main.humidity }}%
                    p Wind: {{ weatherData.today.wind.speed }} m/s
                .col-md-4
                    canvas.weather-icon(skycon="" ng-if="weatherData.today.weather[0].icon" icon="weatherData.today.weather[0].icon" width="250" height="250")
            .weather-forecast.row
                .col-md-2(ng-repeat="forecast in weatherData.forecasts" ng-show="weatherData.forecasts")
                    p {{ (forecast.dt * 1000) | date:"EEEE" }}
                    p
                        canvas(skycon="" icon="forecast.weather[0].icon" width="32" height="32")
                    span
                        strong H
                        |  {{ forecast.temp.max | number:0 }}
                    span
                        strong  L
                        |  {{ forecast.temp.min | number:0 }}
