section( class="weather-wrapper {{ weatherVm.weatherData.period }}" )
    h1 {{ weatherVm.test }}
    .weather-bg( ng-class="{'is-ready': weatherVm.photoUrl}" ng-if="weatherVm.photoUrl" ng-style="{'background-image': 'url({{ weatherVm.photoUrl }})'}")
    .weather.container
        .weather-meta.row
            .col-xs-6.text-left
                p(ng-if="weatherVm.weatherData") {{ weatherVm.weatherData.address }}
            .col-xs-6.text-right
                a(href="javascript:void(0)" ng-click="weatherVm.config.units = 'uk'" ng-class="{active: weatherVm.config.units=='uk'}") C
                |  |
                a(href="javascript:void(0)" ng-click="weatherVm.config.units = 'us'" ng-class="{active: weatherVm.config.units=='us'}")  F

        form( ng-submit="weatherVm.fetchData()" )
            input.city( type="text" placeholder="Which city are you in?" ng-model="weatherVm.city" required autofocus )

        .weather-info( ng-if="weatherVm.weatherData" )
            .weather-today.row
                .col-md-4
                    p.now
                        | {{ weatherVm.weatherData.current.temperature | number:0 }}
                        span.deg °
                .col-md-4
                    br
                    br
                    br
                    p
                        span
                            strong H
                            |  {{ weatherVm.weatherData.today.temperatureMax | number:0 }}
                        span
                            strong  L
                            |  {{ weatherVm.weatherData.today.temperatureMin | number:0 }}
                    p Humidity: {{ weatherVm.weatherData.today.humidity }}%
                    p Wind: {{ weatherVm.weatherData.today.windSpeed }} m/s
                .col-md-4
                    canvas.weather-icon( skycon icon="weatherVm.weatherData.today.icon" width="250" height="250" )

            .weather-forecast.row
                .col-md-2( ng-repeat="forecast in weatherVm.weatherData.forecasts" ng-show="weatherVm.weatherData.forecasts" )
                    p {{ (forecast.time * 1000) | date:"EEEE" }}
                    p
                        canvas(skycon icon="forecast.icon" width="32" height="32")
                    span
                        strong H
                        |  {{ forecast.temperatureMax | number:0 }}
                    span
                        strong  L
                        |  {{ forecast.temperatureMin | number:0 }}
